<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e1751ec7c1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Ninjas del dojo # {{dojo.id}}  {{dojo.nombre}} </h2>
    <a href="/"><i class="fa-solid fa-arrow-left"></i>Volver </a>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre del Ninja</th>
                            <th scope="col">Edad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ninja in ninjas %}
                        <tr>
                            <th scope="row">{{ninja['id']}}</th>
                            <th scope="row">{{ninja['first_name']}} {{ninja['last_name']}}</th>
                            <th scope="row">{{ninja['age']}}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>




</body>
</html>